.container {
    text-align: center;
  }
  
  .title {
    font-size: 50px;
    color: #000;
    margin-bottom: 40px;
  }
  
  .imageContainer {
    margin-bottom: 20px;
  }
  
  .pokemonList {
    display: flex;
    flex-wrap: wrap;
   
  }
  
  .pokemonList p {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
  }
  