.contant {
  background-color: #0ed7fb;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

.title {
  color: #e33d33;
  text-align: center;
  font-size: 7em;
  margin-right: .6em;
  margin-top: 45px;
}

.title span {
  color: black;
}

.pokemon_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
}

.input {
  display: flex;
  height: 60px;
  width: 350px;
  border-radius: 20px;
  margin: 100px;
  margin-top: 110px;
  border: none;
}

.input::placeholder {
  color: #e33d33;
  font-size: 20px;
}